/* BASIC STYLES */
:root {
    --transn: 0.3s;
}




.Strip {
    width: 70%;
    margin-top: 00px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Strip .stripCard {
    margin: 25px;
    background: white;
    display: block;
    transition: var(--transn);
    color: black;
    border-radius: 20px;
}

.Strip .stripCard div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    margin-bottom: 0px;
}

.Strip .stripCard p {
    border-radius: 10px;
    display: inline-block;
    padding: 5px 15px;
    background-color: white;
    color: black;
    text-decoration: none;
    margin-bottom: 15px;
}

.Strip .stripCard h5 {
    margin: 15px;
}

.Strip .stripCard i {
    color: white;
    margin-top: 5px;
}

.Strip .stripCard:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: var(--shadowsmall);
}

.Strip .stripCard:hover p {
    background: #2196F3;
    cursor: pointer;
    color: white;
}

.Strip .stripCard a:hover {
    background: #232525;
    cursor: pointer;
    color: white;
}

#customNav {
    height: 65px !important;
}